<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Kanban - NEW User
body
  h1 New User + Kanban
  block content
    form(action="/newUser" method="POST")
      p username
      input(type="text" name="username")
      p password
      input(type="password" name="password")
      p confirm password
      input(type="password" name="confirmPassword")
      div.actions
        input(type="submit" value="submit")