
* {
  box-sizing: border-box;
  background-color: #00ffff;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  text-align: left;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

section {
  height: 100%;
}

button {
  background-color: white;
  border-radius: 20%;
  font-weight: bold;
}

.wrapper {
  height: 100%;
}

.column {
  padding: 10px;
  float: left;
  width: 33%;
  height: 100%;
}

.column.left {
}

.column.middle {
}

.column.right {
}

.card {
  font-family: sans-serif;
}

.card.left {
  background-color: #ff5050;
}

.card.middle {
  background-color: #ffff66;
}

.card.right {
  background-color: #00ff00;
}