
* {
  box-sizing: border-box;
  background-color: #ccccff;
}

h1 {
  text-align: center;
  background-color: #00ffff;
}

h3 {
  font-family: sans-serif;
  text-align: center;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
section {
  height: 100%;
}

.wrapper {
  height: 100%;
}

.column {
  padding: 10px;
  float: left;
  width: 33%;
  height: 100%;
}

.column.left {
  background-color: #ccccff;
}

.column.middle {
  background-color: #ccccff;
}

.column.right {
  background-color: #ccccff;
}

.card {
  font-family: sans-serif;
  border-radius: 10%;
}

.card.left {
  background-color: #00ffff;
}

.card.middle {
  background-color: #009999;
  color: white;
}

.card.right {
  background-color: #0066ff;
  color: white;
}